@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: none;
  text-decoration: none;
}

:root {
  --color-bg: white;
  --color-dark: #212121;
  --color-tooltip: #eee;
  --color-primary: darkorchid;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* Customize */
.customize {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.customize__section {
  display: flex;
  gap: 0.5rem;
}

.--textarea {
  flex-direction: column;
  gap: 0;
}

textarea {
  resize: none;
}

.customize input, .customize textarea, .customize select {
  font-family: 'Poppins', sans-serif;
  border: 1px solid var(--color-dark);
  padding: 0.25rem;
}

/* Main */
main {
  background: var(--color-primary);
  width: 20rem;
  height: 20rem;

  display: grid;
  place-items: center;
  position: relative;
}

.main__content {
  color: var(--color-bg);
  text-align: center;
}

.tooltip {
  background: var(--color-tooltip);
  padding: 0.75rem;
  border-radius: 0.25rem;

  width: max-content;
  position: absolute;
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  z-index: 69;
}

.tooltip h3 {
  font-size: 1rem;
}

.tooltip div {
  font-size: 0.9rem;
}

.tooltip .close-btn {
  font-size: 1rem;
  font-weight: 900;
  right: 0.25rem;
  top: 0.25rem;
  opacity: 0.5;
  cursor: pointer;
  transition: all 400ms ease;
}

.tooltip .close-btn:hover {
  opacity: 1;
}

.tooltip.top {
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}

.tooltip.left {
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
}

.tooltip.right {
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  flex-direction: row-reverse;
}

.tooltip.bottom {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}

/* Code */
.code {
  --color-function: springgreen;
  --color-pontuation: grey;
  --color-property: white;
  --color-operator: aqua;
  --color-string: orange;
  --color-boolean: orchid;

  background: var(--color-dark);
  padding-inline: 1rem;
}

.code .function {
  color: var(--color-function);
}

.code .pontuation {
  color: var(--color-pontuation);
}

.code .property {
  color: var(--color-property);
}

.code .operator {
  color: var(--color-operator);
}

.code .string {
  color: var(--color-string);
}

.code .boolean {
  color: var(--color-boolean);
}